<form class="form-user-incomings" action="#" method="get">

  <div class="row">
    <div class="form-group">
      <label for="select-house">{{ _('Introduce la base imponible del valor catastral de tu inmueble') }}</label>
      <div class="input-group">
        <input id="select-house" type="number" min="0" step="any" class="form-control">
        <div class="input-group-addon">€</div>
      </div>
    </div>
    <div class="select-info">{{ _('IBI') }}: <span id="select-house-tax"></span></div>
    <div class="form-group" style="clear: both">
      <label for="select-house-bonus">{{ _('¿Disfrutas de alguna de las siguientes bonificaciones del IBI?') }}</label>
      <select id="select-house-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguna') }}</option>
        <option value="1" type="text">{{ _('Vivienda protección pública (3 primeros años)') }}</option>
        <option value="2" type="text">{{ _('Aprovechamiento energía solar (hasta 2016)') }}</option>
        <option value="3" type="text">{{ _('Familia Numerosa General y valor catastral hasta 90.000€') }}</option>
        <option value="4" type="text">{{ _('Familia Numerosa General y valor catastral de 90.000€ a 150.000€') }}</option>
        <option value="5" type="text">{{ _('Familia Numerosa General y valor catastral superior a 150.000€') }}</option>
        <option value="6" type="text">{{ _('Familia Numerosa Especial y valor catastral hasta 90.000€') }}</option>
        <option value="7" type="text">{{ _('Familia Numerosa Especial y valor catastral de 90.000€ a 150.000€') }}</option>
        <option value="8" type="text">{{ _('Familia Numerosa Especial y valor catastral superior a 150.000€') }}</option>
      </select>
    </div>
  </div>
    
  <div class="row">
    <div class="form-group">
      <label for="select-garbage">{{ _('¿Pagas tasa de basuras?') }}</label>
      <select id="select-garbage" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('No') }}</option>
        <option value="1" type="text">{{ _('Sí') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Tasa de basuras') }}: <span id="select-garbage-tax"></span></div>
    <div class="checkbox">
      <label>
        <input id="check-garbage-bonus" type="checkbox">{{ _('¿Todos los miembros de la familia son parados de larga duración o ninguno percibe más de 1,5 veces el SMI?') }}
      </label>
    </div>
    <div class="form-group select-garbage-bonus-cont" style="display: none">
      <label for="select-garbage-bonus">{{ _('Bonificacion de la tasa de basuras') }}</label>
      <select id="select-garbage-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Todos los miembros de la familia mayores de 18 años son parados de larga duración') }}</option>
        <option value="1" type="text">{{ _('Ningún miembro familiar percibe más de 1,5 veces el SMI') }}</option>
      </select>
    </div>
  </div>
    
  <div class="row">
    <div class="form-group">
      <label for="select-vehicle">{{ _('¿Tienes un vehículo?') }}</label>
      <select id="select-vehicle" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
        <option value="1" type="text">{{ _('Coche de menos de 8 caballos fiscales') }}</option>
        <option value="2" type="text">{{ _('Coche de entre 8 y 11,99 caballos fiscales') }}</option>
        <option value="3" type="text">{{ _('Coche de entre 12 y 15,99 caballos fiscales') }}</option>
        <option value="4" type="text">{{ _('Coche de entre 16 y 19,99 caballos fiscales') }}</option>
        <option value="5" type="text">{{ _('Coche de más de 20 caballos fiscales') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-vehicle-tax"></span></div>
    <div class="checkbox">
      <label>
        <input id="check-vehicle-bonus" type="checkbox">{{ _('Vehículo con bonificaciones') }}
      </label>
    </div>
    <div class="form-group select-vehicle-bonus-cont" style="display: none">
      <label for="select-vehicle-bonus">{{ _('Tipo de bonificación vehículo') }}</label>
      <select id="select-vehicle-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Vehículo de carácter histórico') }}</option>
        <option value="1" type="text">{{ _('Vehículo de más de 25 años') }}</option>
        <option value="2" type="text">{{ _('Emisiones por debajo de 100gr/km de CO2') }}</option>
        <option value="3" type="text">{{ _('Vehículo eficiente por debajo de 100gr/km de CO2') }}</option>
      </select>
    </div>
  </div>
    
  <div class="row">
    <div class="form-group">
      <label for="select-extra-vehicle">{{ _('¿Tienes un vehículo adicional?') }}</label>
      <select id="select-extra-vehicle" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
        <option value="1" type="text">{{ _('Coche de menos de 8 caballos fiscales') }}</option>
        <option value="2" type="text">{{ _('Coche de entre 8 y 11,99 caballos fiscales') }}</option>
        <option value="3" type="text">{{ _('Coche de entre 12 y 15,99 caballos fiscales') }}</option>
        <option value="4" type="text">{{ _('Coche de entre 16 y 19,99 caballos fiscales') }}</option>
        <option value="5" type="text">{{ _('Coche de más de 20 caballos fiscales') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-extra-vehicle-tax"></span></div>
    <div class="checkbox">
      <label>
        <input id="check-extra-vehicle-bonus" type="checkbox">{{ _('Vehículo con bonificaciones') }}
      </label>
    </div>
    <div class="form-group select-extra-vehicle-bonus-cont" style="display: none">
      <label for="select-extra-vehicle-bonus">{{ _('Tipo de bonificación vehículo adicional') }}</label>
      <select id="select-extra-vehicle-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Vehículo de carácter histórico') }}</option>
        <option value="1" type="text">{{ _('Vehículo de más de 25 años') }}</option>
        <option value="2" type="text">{{ _('Emisiones por debajo de 100gr/km de CO2') }}</option>
        <option value="3" type="text">{{ _('Vehículo eficiente por debajo de 100gr/km de CO2') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-parking">{{ _('¿Tienes un vado?') }}</label>
      <select id="select-parking" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('No') }}</option>
        <option value="1" type="text">{{ _('Sí, comunitario') }}</option>
        <option value="2" type="text">{{ _('Sí, privado') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Tasa') }}: <span id="select-parking-tax"></span></div>
    <div class="checkbox">
      <label>
        <input id="check-parking-plates" type="checkbox">{{ _('Tiene placas de vado') }}
      </label>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-payment-method">{{ _('¿Cómo realizas el pago?') }}</label>
      <select id="select-payment-method" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Domiciliación Bancaria') }}</option>
<!--        <option value="1" type="text">{{ _('Pago Anticipado') }}</option>
        <option value="2" type="text">{{ _('Sistema Especial pagos') }}</option>
-->        <option value="1" type="text">{{ _('Ninguna de las anteriores') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Bonificación por modo de pago') }}: <span id="select-payment-bonus"></span></div>
  </div>

</form>

<div id="tax-amount">
  <p>{{ _('Contribuyes con un total de <b id="tax-amount-paid"></b> a los presupuestos del Gobierno de Aragón')|safe }}.</p>
  <p><small>{{ _('Esta estimación del cálculo es meramente orientativa.')|safe }}</small></p>
  <p><small>{{ _('Para más información puedes consultar las <a href="https://sede.valdemoro.es/ordenanzas-fiscales" target="_blank">Ordenanzas fiscales</a>, la <a href="https://sede.valdemoro.es/documents/10180/879972/ORDENANZA+GENERAL+DE+GESTI%C3%93N%2C%20INSPECCI%C3%93N+Y+RECAUDACI%C3%93N+DE+LOS+TRIBUTOS+Y+OTROS+INGRESOS+DE+DERECHO+P%C3%9ABLICO+LOCALES.pdf/031a5e7c-17c8-48ae-9354-8660c1beecb9" target="_blank">Ordenanza General</a>, la <a href="https://sede.valdemoro.es/documents/10180/879972/3.+ORDENANZA+FISCAL+REGULADORA+DEL+IMPUESTO+SOBRE+VEHICULOS+DE+TRACCION+MECANICA.pdf/0e2b17a4-38ed-4319-b75b-fc6c53a20811" target="_blank">Ordenanza de Vehículos</a> o la <a href="https://sede.valdemoro.es/documents/10180/879972/13.+ORDENANZA+FISCAL+REGULADORA+DE+LA+TASA+POR+ENTRADA+DE+VEHICULOS+A+TRAVES+DE+LAS+ACERAS+Y+RESERVA+DE+VIA+PUBLICA.pdf/a56b0908-fbf2-40a6-b5df-d4decc5d31fc" target="_blank">Ordenanza de Vados</a>')|safe }}</small></p>
</div>  
