<footer class="main-footer">
  <div class="container">
    <p class="credit-aragon">
      <span>Este proyecto está basado en la aplicación desarrollada por </span><a href="http://opendata.aragon.es" class="link-aragon" target="_blank" title="Open Data Aragón">Open Data Aragón</a> posteriormente mejorada por la <b>Fundación Ciudadana Civio</b> e implementada hasta el momento por Fundaciòn Ciudadana Civio en aproximadamente 30 gobiernos autonómicos y locales de toda España.</span>
    </p>
  </div>
  <div class="container">
    <ul class="footer-menu">
      <li>
        <a href="mailto:transparencia@ayto-valdemoro.org">transparencia@ayto-valdemoro.org</a>
      </li>
      <!-- Link a la Web del Ayuntamiento -->
      <li>
        <a href="{{ main_entity_web_url }}" title="{{ _('Gobierno de Aragón') }}" target="_blank">{{ _('Gobierno de Aragón') }}</a>
      </li>
      <!-- Link al Aviso Legal del Ayuntamiento -->
      {% if main_entity_legal_url %}
      <li>
        <a href="{{ main_entity_legal_url }}" title="{{ _('Aviso Legal') }}" target="_blank">{{ _('Aviso Legal') }}</a>
      </li>
      {% endif %}
      <!-- Link a la Política de Privacidad del Ayuntamiento -->
      {% if main_entity_privacy_url %}
      <li>
        <a href="{{ main_entity_privacy_url }}" title="{{ _('Política de Privacidad') }}" target="_blank">{{ _('Política de Privacidad') }}</a>
      </li>
      {% endif %}
    </ul>
  </div>
</footer>
